@font-face {
  font-family: "Luckey";
  src: url("../font/AlexBrush-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* App.css */
.bg-image {
  background-size: 250%;
}

@media (min-width: 640px) {
  .bg-image {
    background-size: 150%;
  }
}

@media (min-width: 1024px) {
  .bg-image {
    background-size: 100%;
  }
}

@media (min-width: 1280px) {
  .bg-image {
    background-size: 80%;
  }
}
